body{
   padding: 0;
   margin: 0;
   background: url(images/universe_sample.jpg);
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   font-family: monospace;
   color: white;
   height: 100vh;
}

.loginBox {
   height: 400px;
   width: 450px;
   background: linear-gradient(to bottom, rgb(111, 175, 235), rgb(4, 6, 112));
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-sizing: border-box;
   padding: 50px 40px;
   border-radius: 20px;
}

.loginBox img{
   background: rgb(111, 175, 235);
   position: absolute;
   top: -55px;
   left: -35px;
   height: 120px;
   width: 120px;
   border-radius: 50%;
   
}

.loginBox h1{
   padding: 0 0 20px;
   margin: 0;
   font-weight: bolder;
   text-align: center;
   font-size: 30px;
}

.loginBox label{
   padding: 0;
   margin: 0;
   font-weight: bold;
   display: block;
   font-size: 15px;
}

.loginBox input{
   padding: 0;
   margin-bottom: 20px;
   margin-top: 5px;
   width: 100%;

}

.loginBox input[type="text"],
.loginBox input[type="password"]{
   border: none;
   border-right: 1px solid whitesmoke;
   border-bottom: 1px solid whitesmoke;
   background: transparent;
   outline: none;
   height: 30px;
   font-size: 16px;
   color: darkblue;
   
}

::-webkit-input-placeholder{
   color: darkblue;
}

.loginBox input[type="submit"]{
   border: none;
   height: 35px;
   outline: none;
   background: rgb(171, 213, 252);
   font-weight: bolder;
   font-size: 18px;
   color: rgb(1, 1, 61);
}

.loginBox a{
   text-decoration: none;
   line-height: 15px;
   font-size: 14px;
   color: rgb(180, 217, 255);
}

.loginBox a:hover{
   color: whitesmoke;
}
